.phone-item {
  height: 40rem;
  box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  overflow: hidden;
  color: #999;

  &--box {
    width: 100%;
    height: 60%;
    border-bottom: 1px solid rgba(153, 153, 153, 0.3);
    display: flex;
    align-items: center;
  }

  &--img {
    width: 100%;
    height: 80%;
    object-fit: contain;
  }

  &--info {
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
  }

  .flex-row {
    display: flex;
    flex-direction: row;

    .title {
      font-size: 1.4rem;
      font-weight: 500;
      flex: 1;
    }

    .price {
      font-weight: 500;
      font-size: 1.4rem;
    }
  }

  .description {
    margin-top: 2rem;
    font-size: 1.4rem;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;

    .more-info {
      width: 8rem;
      border: none;
      border-radius: 3rem;
      height: 3rem;
      background-color: #43ABC9;
      cursor: pointer;
      outline: none;
      color: #fff;
      font-size: 1.2rem;
      margin: 0 .5rem;
      text-decoration: none;

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}